In [12]:
import re
import numpy as np

In [13]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("LoanApprovement").getOrCreate()
sc = spark.sparkContext

In [14]:
SBA_national = sc.textFile("/home/jovyan/work/Data/Raw/SBAnational.csv")
SBA_national = SBA_national.map(lambda x: x.split(",(?=([^\\\"]*\\\"[^\\\"]*\\\")*[^\\\"]*$)"))

In [15]:
columns_name = SBA_national.first()
dataset = SBA_national.filter(lambda x: x != columns_name)

In [16]:
# Transformação e Limpeza
def LimpaRDD(autoStr) :
    
    # Verifica a indexação 
    if isinstance(autoStr, int) :
        return autoStr
    
    # Transforma os nulos
    row = [np.nan if column == "" else column for column in autoStr]
    
    # Transforma str em num
    row[9:17] = [int(col) for col in row[9:17]]
    
    # Limpa e transforma str em num
    row[21:24] = [float(re.sub("[\$, \"]", "", col)) for col in row[21:24]]
    row[25:30] = [float(re.sub("[\$, \"]", "", col)) for col in row[25:30]]
    
    return row

In [19]:
dataset = dataset.map(LimpaRDD)

[['1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,84,4,2,0,0,1,0,N,Y,,28-Feb-99,"$60,000.00 ",$0.00 ,P I F,$0.00 ,"$60,000.00 ","$48,000.00 "'],
 ['1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,60,2,2,0,0,1,0,N,Y,,31-May-97,"$40,000.00 ",$0.00 ,P I F,$0.00 ,"$40,000.00 ","$32,000.00 "'],
 ['1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,180,7,1,0,0,1,0,N,N,,31-Dec-97,"$287,000.00 ",$0.00 ,P I F,$0.00 ,"$287,000.00 ","$215,250.00 "'],
 ['1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,60,2,1,0,0,1,0,N,Y,,30-Jun-97,"$35,000.00 ",$0.00 ,P I F,$0.00 ,"$35,000.00 ","$28,000.00 "'],
 ['1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,240,14,1,7,7,1,0,N,N,,14-May-97,"$229,000.00 ",$0.00 ,P I F,$0.00 ,"$229,000.00 ","$229,000.00 "']]

In [10]:
'1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW'.split(',')

['1000044001', '"BIG BUCKS PAWN & JEWELRY', ' LLC"', 'BROKEN ARROW']

'"$6'

['60', '000.00', '0.00', '0.00', '60', '000.00', '48', '000.00']