In [2]:
import re

In [19]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("LoanApprovement").getOrCreate()
sc = spark.sparkContext

In [35]:
SBA_national = sc.textFile("/home/jovyan/work/Data/SBAnational.csv")
SBA_national = SBA_national.map(lambda x: x.split(","))

In [48]:
columns_name = SBA_national.first()
dataset = SBA_national.filter(lambda x: x != columns_name)

In [20]:
# Transformação e Limpeza
def LimpaRDD(autoStr) :
    
    # Verifica a indexação 
    if isinstance(autoStr, int) :
        return autoStr
    
    # Separa cada índice pela vírgula (separador de colunas)
    row = autoStr.split(",")
    
    # Transforma os nulos
    row = [NA if column == "" else column for column in row]
    
    # Transforma str em num
    row[9:17] = [int(row[i]) for i in range(9, 17)]

In [77]:
dataset.take(3)

[['1000014003',
  'ABC HOBBYCRAFT',
  'EVANSVILLE',
  'IN',
  '47711',
  'FIFTH THIRD BANK',
  'OH',
  '451120',
  '28-Feb-97',
  '1997',
  '84',
  '4',
  '2',
  '0',
  '0',
  '1',
  '0',
  'N',
  'Y',
  '',
  '28-Feb-99',
  '"$60',
  '000.00 "',
  '$0.00 ',
  'P I F',
  '$0.00 ',
  '"$60',
  '000.00 "',
  '"$48',
  '000.00 "'],
 ['1000024006',
  'LANDMARK BAR & GRILLE (THE)',
  'NEW PARIS',
  'IN',
  '46526',
  '1ST SOURCE BANK',
  'IN',
  '722410',
  '28-Feb-97',
  '1997',
  '60',
  '2',
  '2',
  '0',
  '0',
  '1',
  '0',
  'N',
  'Y',
  '',
  '31-May-97',
  '"$40',
  '000.00 "',
  '$0.00 ',
  'P I F',
  '$0.00 ',
  '"$40',
  '000.00 "',
  '"$32',
  '000.00 "'],
 ['1000034009',
  '"WHITLOCK DDS',
  ' TODD M."',
  'BLOOMINGTON',
  'IN',
  '47401',
  'GRANT COUNTY STATE BANK',
  'IN',
  '621210',
  '28-Feb-97',
  '1997',
  '180',
  '7',
  '1',
  '0',
  '0',
  '1',
  '0',
  'N',
  'N',
  '',
  '31-Dec-97',
  '"$287',
  '000.00 "',
  '$0.00 ',
  'P I F',
  '$0.00 ',
  '"$287',
  '000.00 "',
  '"$215',
  '250.00 "']]

In [ ]:
21, 26 28

In [1]:
['"$60',
  '000.00 "',
  '$0.00 ',
  'P I F',
  '$0.00 ',
  '"$60',
  '000.00 "',
  '"$48',
  '000.00 "']

['"$60',
 '000.00 "',
 '$0.00 ',
 'P I F',
 '$0.00 ',
 '"$60',
 '000.00 "',
 '"$48',
 '000.00 "']

In [75]:
re.sub()

TypeError: list indices must be integers or slices, not tuple