In [5]:
import re

In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("LoanApprovement").getOrCreate()
sc = spark.sparkContext

In [7]:
SBA_national = sc.textFile("/home/jovyan/work/Data/Raw/SBAnational.csv")
SBA_national = SBA_national.map(lambda x: x.split(","))

In [8]:
columns_name = SBA_national.first()
dataset = SBA_national.filter(lambda x: x != columns_name)

In [20]:
# Transformação e Limpeza
def LimpaRDD(autoStr) :
    
    # Verifica a indexação 
    if isinstance(autoStr, int) :
        return autoStr
    
    # Separa cada índice pela vírgula (separador de colunas)
    row = autoStr.split(",")
    
    # Transforma os nulos
    row = [NA if column == "" else column for column in row]
    
    # Transforma str em num
    row[9:17] = [int(col) for col in row[9:17]]
    
    # Limpa e transforma str em num
    row[21:24] = [re.sub("[\$, \"]", "", col) for col in row[21:24]]
    row[25:30] = [re.sub("[\$, \"]", "", col) for col in row[25:30]]

In [9]:
dataset.take(1)

[['1000014003',
  'ABC HOBBYCRAFT',
  'EVANSVILLE',
  'IN',
  '47711',
  'FIFTH THIRD BANK',
  'OH',
  '451120',
  '28-Feb-97',
  '1997',
  '84',
  '4',
  '2',
  '0',
  '0',
  '1',
  '0',
  'N',
  'Y',
  '',
  '28-Feb-99',
  '"$60',
  '000.00 "',
  '$0.00 ',
  'P I F',
  '$0.00 ',
  '"$60',
  '000.00 "',
  '"$48',
  '000.00 "']]

In [ ]:
21, 22, 23, 25, 26, 27, 28, 29

In [22]:
a = ['"$60',
  '000.00 "',
  '$0.00 ',
  '$0.00 ',
  '"$60',
  '000.00 "',
  '"$48',
  '000.00 "']

In [15]:
re.sub("0", "", )

'"$6'

['60', '000.00', '0.00', '0.00', '60', '000.00', '48', '000.00']